.readingRulerWrapper {
  position: relative;
}

.readingRulerWrapper .singleLine {
  background-color: rebeccapurple;
  opacity: 0.6;
  width: 100% !important;
  position: absolute;
  top: 0;
}

.readingRulerWrapper:focus,
.readingRulerWrapper:focus-visible {
  outline: none;
}
