.readingRulerWrapper {
  position: relative;
}

.readingRulerWrapper .singleLine {
  background-color: rgb(223, 191, 0, .3);
  width: 100% !important;
  position: absolute;
  top: 0;
}

.readingRulerWrapper:focus,
.readingRulerWrapper:focus-visible {
  outline: none;
}
